
<h2>稼動中公演一覧</h2>

<!-- ページタイトル -->
<% @page_title = '稼働中公演一覧' %>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>公演名称</th>
        <th>発券元</th>
        <th>座席数</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.basename %></td>
          <td><%= event.agencies %></td>
        <td><%= event.availability %></td>
      <% end %>
    </tbody>
  </table>